<h1> Edit <%= @track.title %> | Spotifake</h1>
<%= fail %>
<form action="<%= track_url %>" method="POST">

  <input type="hidden" name="_method" value="PATCH">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

<label for="title">
  Title
  <input type="text"
           name="track[title]"
           id="title"
           value="<%= @track.title %>"
           >
</label>
<!--Set the edit defaults -->
<label for="bonus_status"><br><br>
  Regular track
  <input type="radio"
           name="track[bonus_status]"
           id="bonus_status"
           value="regular">
  Bonus track
  <input type="radio"
           name="track[bonus_status]"
           id="bonus_status"
           value="bonus">

</label>
<br>
<br>
<label for="lyrics">
  Lyrics
  <textarea
   name="track[lyrics]"
   value="<%= @track.title %>"
   id="lyrics">
</textarea><br><br>
</label>
<input type="submit">
</form>
