<h1> Edit <%= @track.title %> | Spotifake</h1>
<form action="<%= track_url %>" method="POST">

  <input type="hidden" name="_method" value="PATCH">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

<label for="title">
  Title
  <input type="text"
           name="track[title]"
           id="title"
           value="<%= @track.title %>"
           >
</label>
<br><br>
<% Track::BONUS_STATUSES.each do |bonus| %>
<label>
  <%= bonus.capitalize %>
  <input type="radio"
         name="track[bonus_status]"
         value="<%= bonus %>"
         <%= "checked" if @track.bonus_status.eql?(bonus) %>
         >
</label>
<% end %>

<br>
<br>

<label for="lyrics">
  Lyrics
  <textarea
   name="track[lyrics]"
   id="lyrics">
<%= @track.lyrics %>
</textarea><br><br>
</label>
<input type="submit">
</form>
